@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Nunito' !important;
    src: url('../assets/fonts/Nunito/Nunito-Regular.ttf') url('../assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
    font-style: normal;
}

* {
    font-family: 'Nunito' !important;
    font-style: normal;
} */

img {
    /* background-size: ; */
    object-fit: cover;
    user-select: none;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

::selection {
    background: #bbf7d0;
    color: #737373;
}
